.customer-buttons {
  position: absolute;
  display: flex;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.fa-icon {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.info-icon:hover {
  color: #228be6;
}

/* .customer-type-switch {
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
} */
