.services-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.services-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.btn-add-service {
  background-color: #0c082f;
  color: #fff;
  font-weight: 700;
  display: flex;
  gap: 1rem;
  transition: all 0.5s ease;
}

.btn-add-service:hover {
  background-color: #ff922b;
  color: #0c082f;
}

.services-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
  max-height: 700px;
  padding: 0 1rem 4rem 1rem;
}

/* scrollbar styling starts */
.services-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.services-content::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.services-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
/* scrollbar styling ends */

.services-list-title,
.services-list-item {
  position: relative;
  display: grid;
  grid-template-columns: 10rem 1fr;
  background-color: rgba(255, 255, 255, 0.856);
  padding: 1rem;
  border-radius: 10px;
}

.services-list-item:hover {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.services-list-item p {
  margin: 0;
}

tr {
  width: 100% !important;
}

.service-data-row {
  position: relative;
}

.service-buttons {
  position: absolute;
  display: flex;
  right: 2rem;
  gap: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
}

.fa-icon {
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.update-icon:hover {
  color: #fcc419;
}

.delete-icon:hover {
  color: #c92a2a;
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}
