<div class="services-container">
  <div class="services-header">
    <h3>Services</h3>
    <button class="btn btn-add-service" (click)="openPopup()">
      <fa-icon [icon]="plusIcon"></fa-icon>
      New Service
    </button>
  </div>
  <div class="services-content">
    <div class="services-list-title">
      <strong>ID</strong>
      <strong>Service Name</strong>
    </div>
    <div class="services-list-item" *ngFor="let service of services">
      <strong>{{ service.id }}</strong>
      <p>{{ service.name }}</p>
      <div class="service-buttons">
        <fa-icon
          class="fa-icon update-icon"
          [icon]="updateIcon"
          (click)="updateService(service)"
        ></fa-icon>
        <fa-icon
          class="fa-icon delete-icon"
          [icon]="deleteIcon"
          (click)="deleteService(service.id)"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{
            isUpdate ? "Update Service " + selectedService.id : "Add Service"
          }}
        </h4>
      </div>
      <div class="modal-body p-5">
        <form id="myForm" [formGroup]="addServiceForm" (submit)="addService()">
          <div class="mb-3">
            <label for="name" class="form-label">Service Name</label>
            <input
              id="name"
              formControlName="name"
              type="text"
              class="form-control"
              placeholder="Please enter a service name"
            />
            <p
              class="error-message"
              *ngIf="
                addServiceForm.get('name')?.invalid &&
                addServiceForm.get('name')?.touched
              "
            >
              Service name field can't be empty.
            </p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
        <button
          form="myForm"
          class="btn btn-primary"
          type="submit"
          [disabled]="addServiceForm.invalid"
        >
          {{ isUpdate ? "Update" : "Add" }}
        </button>
      </div>
    </div>
  </div>
</div>
