.services-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.services-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.services-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
  max-height: 700px;
  padding: 0 1rem 3rem 1rem;
}

.services-list-title,
.services-list-item {
  position: relative;
  display: grid;
  grid-template-columns: 10rem 1fr;
  background-color: rgba(255, 255, 255, 0.856);
  padding: 1rem;
  border-radius: 10px;
}

.services-list-item:hover {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.services-list-item p {
  margin: 0;
}

tr {
  width: 100% !important;
}

.service-data-row {
  position: relative;
}

.service-buttons {
  position: absolute;
  display: flex;
  right: 1rem;
  gap: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom 0.75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.modal-tour .modal-dialog {
  width: 380px;
}
