.navbar-container {
  background-color: #fff;
  position: sticky;
  z-index: 999;
  left: 0;
  top: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.navbar-container header {
  padding: 0 0.8rem;
  gap: 1rem;
}

.search-input {
  width: 400px;
}

.dropdown {
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.fa-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 1.2rem;
  color: #0c082f !important;
  cursor: pointer;
}

.fa-icon::before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.fa-icon:hover::before {
  background-color: #e9ecef;
}
