<div class="select-container">
  <label for="productselect" class="form-label">Select Product Type</label>
  <select
    class="form-select mb-3"
    name="producttype"
    id="productselect"
    [(ngModel)]="productType"
    (ngModelChange)="onProductTypeChange($event)"
  >
    <option selected>Services</option>
    <option>Catalogs</option>
  </select>
</div>
<div class="services-container" *ngIf="toggleProductType">
  <p class="form-label">
    Choose services that you want to add in by clicking on them.
  </p>
  <div class="services-content">
    <div
      class="list-item"
      *ngFor="let service of services; let i = index"
      (click)="onServiceClick(service, i, $event)"
      [ngClass]="{
        selected: servicesSelectedStatus[service.id] === true
      }"
    >
      <strong class="responsive-id service-form-id">{{ service.id }}</strong>
      <p>{{ service.name }}</p>
    </div>
  </div>
</div>

<div class="services-container" *ngIf="!toggleProductType">
  <p class="form-label">
    Choose catalogs that you want to add in by clicking on them.
  </p>
  <div class="services-content">
    <div
      class="list-item"
      *ngFor="let catalog of catalogs; let i = index"
      (click)="onCatalogClick(catalog)"
      [ngClass]="{
        selected: toggleCatalogCss(catalog)
      }"
    >
      <strong class="responsive-id service-form-id">{{ catalog.id }}</strong>
      <p>{{ catalog.name }}</p>
    </div>
  </div>
</div>
<div class="buttons-container">
  <a (click)="onBack()" class="btn btn-danger">Back</a>
  <a (click)="onReset()" class="btn btn-warning">Reset</a>
  <a (click)="onNext()" class="btn btn-primary">Next</a>
</div>
