<h6>Customer {{ selectedUserID }} Details</h6>
<ng-container *ngIf="customerType === 'individual'">
  <app-individual-details
    [selectedUserID]="selectedUserID"
  ></app-individual-details>
</ng-container>
<ng-container *ngIf="customerType === 'corporate'">
  <app-corporate-details
    [selectedUserID]="selectedUserID"
  ></app-corporate-details>
</ng-container>

<hr />
<br />
<h6>Customer {{ selectedUserID }} Subscriptions</h6>
<div class="list-title subscriptions-title">
  <strong>Service ID</strong>
  <strong>Service Name</strong>
  <strong>Date Started</strong>
</div>
<div
  class="list-item subscription-item"
  *ngFor="let subscription of customerSubscriptions"
>
  <strong> {{ subscription.serviceId }} </strong>
  <p>{{ subscription.serviceName }}</p>
  <p>{{ subscription.dateStarted }}</p>
</div>
