<h6>Customer {{ selectedUserID }} Details</h6>
<div class="individual-customer" *ngIf="customerType === 'individual'">
  <div class="customers-list-title individual-title">
    <strong>ID</strong>
    <strong>First Name</strong>
    <strong>Last Name</strong>
    <strong>Date of Birth</strong>
    <strong>National ID</strong>
  </div>
  <div
    class="customers-list-item individual-item"
    *ngFor="let detail of individualCustomerDetails"
  >
    <strong> {{ detail.customerId }} </strong>
    <p>{{ detail.firstName }}</p>
    <p>{{ detail.lastName }}</p>
    <p>{{ detail.dateOfBirth }}</p>
    <p>{{ detail.nationalIdentity }}</p>
  </div>
</div>
<div class="corporate-customer" *ngIf="customerType === 'corporate'">
  <div class="customers-list-title corporate-title">
    <strong>ID</strong>
    <strong>Company Name</strong>
    <strong>Tax Number</strong>
  </div>
  <div
    class="customers-list-item corporate-item"
    *ngFor="let detail of corporateCustomerDetails"
  >
    <strong> {{ detail.customerId }} </strong>
    <p>{{ detail.companyName }}</p>
    <p>{{ detail.taxNumber }}</p>
  </div>
</div>
<hr />
<br />
<h6>Customer {{ selectedUserID }} Subscriptions</h6>
<div class="customer-subscriptions-title">
  <strong>Service ID</strong>
  <strong>Service Name</strong>
  <strong>Date Started</strong>
</div>
<div
  class="customer-subscription-item"
  *ngFor="let subscription of customerSubscriptions"
>
  <strong> {{ subscription.serviceId }} </strong>
  <p>{{ subscription.serviceName }}</p>
  <p>{{ subscription.dateStarted }}</p>
</div>
