.subscriptions-title,
.subscription-item {
  grid-template-columns: 1fr repeat(2, 2fr);
}

.customer-buttons {
  position: absolute;
  display: flex;
  right: 2rem;
  gap: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
}

.fa-icon {
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.info-icon:hover {
  color: #228be6;
}
