<div class="spinner-container" *ngIf="isLoading">
  <div class="overlay show"></div>
  <div class="spinner show">
    <div class="loader"></div>
    <p>Loading...</p>
  </div>
</div>

<app-navbar (onLogoutWithValue)="handleOnLogout($event)"></app-navbar>
<div class="container">
  <!-- <app-overlay-title text="{{ overlayTitleText }}"></app-overlay-title> -->
  <app-overlay-title [text]="overlayTitleText"></app-overlay-title>
</div>
<!-- logout oldugunu yakalasin -->
<!-- Goodbye -->
<router-outlet></router-outlet>
