
.customer-type-select {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 15rem;
}

.customer-buttons {
  position: absolute;
  display: flex;
  right: 2rem;
  gap: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
}

.input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.fa-icon {
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.info-icon:hover {
  color: #228be6;
}

.customer-type-switch {
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
}
