<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div formGroupName="productData" class="mb-3">
          <label for="product-name" class="form-label">Product Name</label>
          <input
            type="email"
            class="form-control mb-3"
            id="product-name"
            formControlName="productName"
          />
          <div
            *ngIf="
              productForm.get('productData.productName').invalid &&
              (productForm.get('productData.productName').dirty ||
                productForm.get('productData.productName').touched)
            "
            class="alert alert-danger"
          >
            <div
              *ngIf="productForm.get(
      'productData.productName'
    ).errors?.['required']"
            >
              Product name is required.
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="productForm.get('productData.productName').invalid"
        >
          Add
        </button>
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-lg-4">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between"
          *ngFor="let product of products; let i = index"
        >
          {{ product }}
          <button class="btn btn-danger" (click)="onDeleteProduct(i)">
            Delete
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
