<main>
  <div class="sidebar-container">
    <div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light">
      <a
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
      >
        <svg class="bi pe-none me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">Sidebar</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a
            routerLink="/homepage/home"
            routerLinkActive="activeLink"
            class="nav-link link-dark"
            aria-current="page"
          >
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#home" />
            </svg>
            Home
          </a>
        </li>
        <li>
          <a
            routerLink="/homepage/about"
            routerLinkActive="activeLink"
            class="nav-link link-dark"
          >
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#speedometer2" />
            </svg>
            About
          </a>
        </li>
        <li>
          <a
            routerLink="/homepage/settings"
            routerLinkActive="activeLink"
            class="nav-link link-dark"
          >
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#table" />
            </svg>
            Settings
          </a>
        </li>
      </ul>
      <hr />
      <div class="dropdown">
        <a
          class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt=""
            width="32"
            height="32"
            class="rounded-circle me-2"
          />
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item">New project...</a></li>
          <li><a class="dropdown-item">Settings</a></li>
          <li><a class="dropdown-item">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="navbar-container">
      <form role="search">
        <input
          class="form-control me-2 search-input"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
      <div class="dropdown">
        <a
          class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt=""
            width="32"
            height="32"
            class="rounded-circle me-2"
          />
          <strong>{{ tokenValue.userName }}</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item">New project...</a></li>
          <li><a class="dropdown-item">Settings</a></li>
          <li><a class="dropdown-item">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item">Sign out</a></li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</main>
