main {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #edf2ff;
}

.content-container {
  width: 100%;
  position: relative;
}

.router-container {
  /* max-height: 800px; */
  padding: 3rem 7rem;
  overflow: hidden;
}
