.sidebar-container {
  height: 100%;
  overflow: hidden;
  width: 300px;
}

.sidebar {
  height: 100%;
  background-color: #0c082f !important;
}

.sidebar ul {
  gap: 1rem;
}

.active {
  background-color: transparent !important;
  color: #ff922b !important;
  font-weight: bold;
}

.nav-link {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  transition: background-color 0.5s ease;
}

.nav-link p {
  margin: 0;
  padding: 0;
}

.nav-link:hover {
}

.icon-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding-right: 1rem;
  width: max-content;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-container:hover {
  color: #ff6b6b;
}

.icon-container p {
  margin: 0;
}

.logout-icon {
  font-size: 1.5rem;
  padding: 0 1rem;
}
