<div class="sidebar-container">
  <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
    <a
      class="d-flex align-items-center justify-content-center mb-3 mb-md-0 text-white text-decoration-none"
    >
      <img
        src="https://www.etiya.com/files/logo.svg"
        alt=""
        width="128"
        height="128"
        class="rounded-circle me-2"
      />
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          routerLink="/homepage/services"
          routerLinkActive="active"
          class="nav-link active"
          aria-current="page"
        >
          Services
        </a>
      </li>
      <li>
        <a
          routerLink="/homepage/about"
          routerLinkActive="active"
          class="nav-link text-white"
        >
          Dashboard
        </a>
      </li>
      <li>
        <a
          routerLink="/homepage/settings"
          routerLinkActive="active"
          class="nav-link text-white"
        >
          Orders
        </a>
      </li>
    </ul>
  </div>
</div>
