<div class="sidebar-container">
  <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
    <a
      class="d-flex align-items-center justify-content-center mb-3 mb-md-0 text-white text-decoration-none"
    >
      <img
        src="https://www.etiya.com/files/logo.svg"
        alt=""
        width="128"
        height="128"
        class="rounded-circle me-2"
      />
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a
          routerLink="/homepage/services"
          routerLinkActive="active"
          class="nav-link text-white"
        >
          <fa-icon [icon]="servicesIcon"></fa-icon>
          <p>Services</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/homepage/customers"
          routerLinkActive="active"
          class="nav-link text-white"
        >
          <fa-icon [icon]="customersIcon"></fa-icon>
          <p>Customers</p>
        </a>
      </li>
    </ul>
    <div>
      <a class="icon-container" (click)="logout()">
        <fa-icon class="logout-icon" [icon]="logoutIcon"></fa-icon>
        <p>Logout</p>
      </a>
    </div>
  </div>
</div>
