<ul *ngIf="categories">
  <ng-template ngFor let-category [ngForOf]="categories">
    <li *ngIf="category.name.length > 1">
      {{ category.id }} {{ category.name }}
    </li>
  </ng-template>
</ul>

<!-- <ul *ngIf="categories.length > 3">
  <ng-container *ngFor="let category of categories">
    <li *ngIf="category.length > 3">{{ category }}</li>
  </ng-container>
</ul> -->

<!-- <ul *ngIf="categories.length > 3">
  <div *ngFor="let category of categories">
    <li *ngIf="category.length > 3">{{ category }}</li>
  </div>
</ul> -->

<ng-container *ngIf="language === 'tr'; else enMessage">
  <div>Merhaba</div>
</ng-container>

<ng-template #enMessage>
  <div>Hello</div>
</ng-template>

<!-- Reactive Form -->
<h1>Form - Add</h1>
<form [formGroup]="categoryAddForm" (ngSubmit)="addCategory()">
  <input type="text" placeholder="Name" formControlName="name" />
  <br />
  <input type="text" placeholder="Description" formControlName="description" />
  <br />
  <button type="submit" [disabled]="!categoryAddForm.valid">Add</button>
</form>

<hr />

<!-- ngModel Form -->
<h1>Form - Delete</h1>
Silinecek olan kategori id: {{ categoryIdToDelete }}
<br />
<input type="text" placeholder="ID" [(ngModel)]="categoryIdToDelete" />
<button (click)="deleteCategory()">Delete</button>
